.main {
}
.main.active {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 200px;
}

.Information {
    display: grid;
    grid-template-rows: 200px 1fr 50px;

    &__header {
        width: 1fr;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 100px;
        font-weight: 100;
        font-size: 24px;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        width: 60vw;
        grid-template-columns: 1fr 40px;
        gap: 10px;
        margin: 10px;
    }

    &__items {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 50px;
        align-items: center;
        list-style: none;
        padding: 5px;
        border-radius: 12px;
        justify-items: start;
        background-color: rgb(30, 30, 30);
    }
}

.Footer {
    display: flex;
    justify-content: center;
}
