.Information {
    display: grid;
    grid-template-rows: 100px 1fr 50px;

    &__header {
        display: flex;
        align-items: end;
        font-size: 24px;
        font-weight: 500;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 40px;
        width: 70vw;
        padding: 5px;
        margin: 10px;
        align-items: center;
        background-color: rgb(30, 30, 30);
        border-radius: 6px;
        // border: 1px solid #ccc;
    }

    &__items {
    }
}

.Footer {
    display: flex;
    justify-content: center;
}
.main {
    display: none;
}
.main.active {
    border: 3px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}
