.modal {
    position: fixed;
    display: none;
}
.modal.active {
    width: auto;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    color: rgb(151, 151, 151);
    background: rgb(0, 0, 0);
    border-radius: 12px;
}
