.AddTasks {
    width: 94vw;
    height: 50px;
    border-radius: 8px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #201f1e;

    input {
        width: 80%;
        background: none;
    }

    ::placeholder {
        color: #fff;
        background: none;
    }
}
