.Information {
    display: grid;
    grid-template-rows: 150px 50px 1fr;

    &__header {
        width: 140px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 50px;
        :last-child {
            font-size: 12px;
            font-weight: 200;
        }
    }

    &__create {
        width: 98vw;
    }
}

.main {
    display: none;
}
.main.active {
    border: 3px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}
