.right {
    display: none;

    &.active {
        padding: 80px 0 0;
        position: absolute;
        right: 0;
        width: 360px;
        height: 100vh;
        background-color: #252423;
        display: grid;
        grid-template-rows: 0.3fr 0.3fr 1fr 30px;
        gap: 10px;
    }

    &__content {
        display: grid;
        grid-template-rows: 70px 30px;
        gap: 10px;
        ::placeholder {
            color: aliceblue;
        }
    }
}
textarea {
    background-color: #252423;
    border: none;
    outline: none;
    color: #fff;
}
